<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
      <style type="text/tailwindcss">
        @layer utilities {
          .content-auto {
            content-visibility: auto;
          }
        }
      </style>
      <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link href="./output.css" rel="stylesheet">
    <title>Signup Page</title>
</head>
<body >

  <div class="max-w-sm mx-auto border w-[50vw] h-[75vh] my-14  rounded-md shadow-lg">
    <h2 class="text-center font-bold mt-4 text-3xl">Signup</h2>
    <form action="/signup" method="post" class="mx-10 my-5">
      <div class="mb-5">
        <label for="email" class="block mb-2 text-lg font-medium text-gray-900 ">Your Name:</label>
        <input type="text" id="name" name="username" class="bg-gray-50 border w-[95%] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  px-2.5" placeholder="Enter your name" required autocomplete="off" />
      </div>
      <div class="mb-5">
        <label for="email" class="block mb-2 text-lg font-medium text-gray-900 ">Your Email:</label>
        <input type="email" id="email" name="email" class="bg-gray-50 border w-[95%] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  px-2.5" placeholder="example@gmail.com" required autocomplete="off" />
      </div>
      <div class="mb-5">
        <label for="password" id="password" name="password" class="block mb-2 text-lg font-medium text-gray-900 ">Your password:</label>
        <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[95%] px-3.5" placeholder="Password" required />
      </div>
      <a href="./login" >
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-[95%] px-14 py-2.5 text-center ">SignUp</button>
    </a>
    </form>
  </div>
  <script>
  </script>
</body>
</html>